.header {
  padding: 20px;
  background-color: $darkOrange;
  font-size: 14px;
  box-sizing: border-box;
}
.nav {
  width: 90%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.header-col {
  width: 25%;
  padding: 0 15px;
}
