//colors
$darkOrange: #F39200;
$orangeSecond: #FF9C06;
$simpleWhite: white;
$oceanBlue: #2D8DFF;
$deepBlack: #121212;

//fonts
$fontMed: 16px; //16px
$fontSmall: 14px;
$fontMin: 12px;
$fontBig: 24px;

//font-weight
$medWeight: 400;
$boldWeight: 600;
$minWeight: 300;
$bigWeight: 700;